
@model Hasan.App.Models.Prescription

@*<script src="~/Scripts/scStateCity.js"></script>*@

<script>

    function AddInvestigation() {
     {
         var targetDiv = '#divPrescribeInvestigationDetails';
         var url = "/Rx/AddInvestigation";
       var form = $('#frmPrescribeInvestigationDetails');
       var serializedForm = form.serialize();
       $.post(url, serializedForm, function (result) { $(targetDiv).html(result); }, "html");
       return false;
     }
   }
   function RemoveInvestigation(ctrl) {
     if (confirm('Pressing OK will delete this record. Do you want to continue?') == false) {
       return false;
     }
     var row = $(ctrl).parent().parent().parent().children().index($(ctrl).parent().parent());
 //    alert(row);
     $("#investigationRefRowIndex").val(row);
     var form = $("#frmPrescribeInvestigationDetails");
     var serializedForm = form.serialize();
     var url = "/Rx/RemoveInvestigation";
     $.post(url, serializedForm, function (result) {
         $("#divPrescribeInvestigationDetails").html(result);
     }, "html");
     return false;
   }
</script>

<form id="frmPrescribeInvestigationDetails">
    <input type="hidden" id="investigationRefRowIndex" name="investigationRefRowIndex" />
    <div class="row">
        <div class="panel panel-default ">

            <div class="panel-heading">Prescribe Investigation Information</div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InvestigationName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.InvestigationName, new { htmlAttributes = new { id = "InvestigationName", @class = "form-control" } })
                                @Html.HiddenFor(model => model.InvestigationId, new { id = "InvestigationId" })
                                @Html.ValidationMessageFor(model => model.InvestigationId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" onclick="window.open('@Url.Action("Create", "tbl_Patient", new { target="_blank" })')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.InvestigationNote, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.InvestigationNote, new { htmlAttributes = new { id = "InvestigationNote", @class = "form-control" } })
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" onclick="return AddInvestigation();">
                                    <i class="glyphicon glyphicon-ok-circle"></i>
                                </button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Investigation Name
                        </th>
                        <th>
                            Investigation Instruction
                        </th>

                        <th>
                            Remove Investigation
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RxInvestigationList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(m => m.RxInvestigationList[i].InvestigationName)
                            </td>

                            <td>
                                @Html.EditorFor(m => m.RxInvestigationList[i].Instruction)
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="return RemoveInvestigation(this);">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</form>

