
@model Hasan.App.Models.Prescription


<script src="~/Scripts/scStateCity.js"></script>

<script type="text/javascript">

    $(function () {

        $('#example2').dataTable();

    });
</script>
<script>

    function AddDrug() {
        {
            var targetDiv = '#divPrescribeDrugDetails';
            var url = "/Rx/AddDrug";
            var form = $('#frmPrescribeDrugDetails');
            var serializedForm = form.serialize();
            $.post(url, serializedForm, function (result) { $(targetDiv).html(result); }, "html");
            return false;
        }
    }
    function RemoveDrug(ctrl) {
        if (confirm('Pressing OK will delete this record. Do you want to continue?') == false) {
            return false;
        }
        var row = $(ctrl).parent().parent().parent().children().index($(ctrl).parent().parent());
           //alert(row);
        $("#drugRefRowIndex").val(row);
        var form = $("#frmPrescribeDrugDetails");
        var serializedForm = form.serialize();
        var url = "/Rx/RemoveDrug";
        $.post(url, serializedForm, function (result) {
            $("#divPrescribeDrugDetails").html(result);
        }, "html");
        return false;
    }
</script>  

<form id="frmPrescribeDrugDetails">
    <input type="hidden" id="drugRefRowIndex" name="drugRefRowIndex" />  
    <div class="row">
        <div class="panel panel-default ">

            <div class="panel-heading">Prescribe Drug Information</div>
            <div class="panel-body" >
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrugName, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DrugName, new { htmlAttributes = new { id = "DrugName", @class = "form-control" } })
                                @Html.HiddenFor(model => model.DrugId, new { id = "DrugId" })
                                @Html.ValidationMessageFor(model => model.DrugId, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" onclick="window.open('@Url.Action("Create", "tbl_Patient", new { target="_blank" })')">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.DrugNote, htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.DrugNote, new { htmlAttributes = new { id = "DrugNote", @class = "form-control" } })
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn btn-default" onclick="return AddDrug();">
                                    <i class="glyphicon glyphicon-ok-circle"></i>
                                </button>
                            </div>

                        </div>






                    </div>

                </div>
            </div>

            <table class="table table-bordered" >
                <thead>
                    <tr>
                        <th>
                            Drug Name
                        </th>
                        <th>
                            Drug Instruction
                        </th>

                        <th>
                            Remove Drug
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.RxDrugList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.EditorFor(m => m.RxDrugList[i].DrugName)
                            </td>

                            <td>
                                @Html.EditorFor(m => m.RxDrugList[i].Instruction)
                            </td>
                            <td>
                                <button type="button" class="btn btn-default" onclick="return RemoveDrug(this);">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                                 
                            </td>
                        </tr>
                    }
                </tbody>
</table>  


        </div>
    </div>
</form>  