@model IEnumerable<Hasan.App.Models.tbl_Drop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">

    $(function () {

        $('#example2').dataTable();

    });
</script>

<h2>Drop List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
 

<div class="row">

    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-body">


                <table id="example2" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                 
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>
