@model Hasan.App.Models.tbl_Rx

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_Rx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextVisit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_MajorArea.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_MajorArea.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_Patient.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_Patient.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
