@model Hasan.App.Models.Prescription
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/LayoutPrint.cshtml";
}

<div class="row">
    <div class="col-xs-11">
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <div class="row">
                  
                </div>
            </div>
            <div class="col-sm-5 invoice-col">
                

              
            </div>
            <div class="col-sm-3 invoice-col">
                <br /><br />
                


            </div>
        </div>
    </div>
</div>







<div class="row">
    <div class="panel panel-default ">
        <div class="panel-body">

            <table>
               
                <tr>
                    <td><h5>Name :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.Name)</h5></td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    
                    <td><h5>MrNo :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.Mrno)</h5></td>
                     
                </tr>
                <tr>
                    <td><h5>Age :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.Age)</h5></td>

                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>


                    <td><h5>Date :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.EntryDate)</h5></td>
                    
                </tr>
            </table>


            

            <table   >
                <tr>
                    <th>Visual Acuity :</th>
                </tr>
                <tr>
                    <td><h5>Right Eye :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.VisualAcuityRightEye)</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.VisualAcuityRightEyeTypeValue)</h5></td>
                </tr>
                <tr>
                    <td><h5>Left Eye :</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.VisualAcuityLeftEye)</h5></td>
                    <td><h5>@Html.DisplayFor(m => m.VisualAcuityLeftEyeTypeValue)</h5></td>
                </tr>
            </table>


            <table>
                <tr>
                    <th> Diagnosis :</th>
                    <td><h5>@Html.DisplayFor(m => m.MajorAreaName)</h5></td>
                </tr>
            </table>


            <table>
                <tr>
                    <th>Adv :</th>
                    <td><h5>@Html.DisplayFor(m => m.Rx)</h5></td>
                </tr>
            </table>


            <table>
                <tr>
                    <th>Investigation :</th>
                </tr>
                @{int rowNo = 0;}
@for (int i = 0; i < Model.RxInvestigationList.Count(); i++)
{
                <tr>
                    <td>@(rowNo += 1)</td>
                    <td>
                        @Html.DisplayFor(m => m.RxInvestigationList[i].InvestigationName)
                    </td>
                  
                </tr>
}
            </table>




            <table>
                <tr>
                    <th>Drug :</th>
                </tr>
                @{int rowNoDrug = 0;}
                @for (int i = 0; i < Model.RxDrugList.Count(); i++)
                {
                    <tr>
                        <td>@(rowNoDrug += 1)</td>
                        <td>
                            @Html.DisplayFor(m => m.RxDrugList[i].DrugName)
                            (@Html.DisplayFor(m => m.RxDrugList[i].Instruction))
                        </td>

                    </tr>
                }
            </table>


            <table>
                <tr>
                    <th>Drop :</th>
                </tr>
                @{int rowNoDrop = 0;}
                @for (int i = 0; i < Model.RxDropList.Count(); i++)
                {
                    <tr>
                        <td>@(rowNoDrop += 1)</td>
                        <td>
                            @Html.DisplayFor(m => m.RxDropList[i].DropName)
                            (@Html.DisplayFor(m => m.RxDropList[i].Instruction))
                        </td>

                    </tr>
                }
            </table>




        </div>

      
    </div>
</div>












<div class="row no-print">
    <hr />
    <div class="col-xs-11">
        <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button> ||


        @*@Html.ActionLink("Go Back", "Index", " tbl_Rx", new { id = Model.JobKey }, new { @class = "btn btn-default" })*@




    </div>


</div>

